# =============== #
# Unity generated #
# =============== #
Temp/
obj/
UnityGenerated/
Library/
web/
Assets/AssetStoreTools*
Logs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

ProjectSettings/ProjectVersion.txt
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-Editor-firstpass.csproj
Library/SourceAssetDB
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ShaderCache/EditorEncounteredVariants
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp-firstpass.pdb
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/SceneVisibilityState.asset
Library/InspectorExpandedItems.asset
Library/expandedItems
Library/EditorUserBuildSettings.asset
Library/CurrentLayout-default.dwlt
Library/Artifacts/f7/f7a80efeca33b2d44cb4ea42f4c0d8c9
Library/Artifacts/e2/e27d25c614f424e39634bac74d1bc6b3
Library/Artifacts/e0/e017e2aeee7bc3fef5fe38a0f31ad5d8
Library/Artifacts/d3/d3d95cc35abfc7a2d411edfdceeb42ab
Library/Artifacts/d2/d2fc9bf5129e9ae3d8601263c3792739
Library/Artifacts/cd/cd284d15c672486a4871b6989afcc6ab
Library/Artifacts/94/94932cbb3edb472642a830a6734f856b
Library/Artifacts/89/89ee08640a8621153739dcbe9b04b628
Library/Artifacts/86/86f0248cdd45ae08feb4ef58b30f8338
Library/Artifacts/85/859627b17275676deef26e08123e1d58
Library/Artifacts/69/6910a2002a1a120834f061bcfa0b661a
Library/Artifacts/63/634e6910f2573efa1673f6a0ea8389e0
Library/Artifacts/3a/3ad1e3705a547f28c7fcc62f9449fc18
Library/Artifacts/30/300bf7794bdc40760037f60da8e76510
Library/Artifacts/20/20bd564de85c33a35ba1b76b7d14fa23
Library/Artifacts/18/181c48b1795672f980d73c3a689e6785
Library/Artifacts/14/147606765f069032a2c59dcdaa9801d3
Library/ArtifactDB
Library/ArtifactDB
Library/CurrentLayout-default.dwlt
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/SourceAssetDB
Library/ArtifactDB
Library/CurrentLayout-default.dwlt
Library/expandedItems
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/SourceAssetDB
